
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
        
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{%static 'css/navbar/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/footer/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/footerstyle.css'%}">
    <link rel="stylesheet" href="{%static 'css/team.css'%}">
    
    
   
    
    

    
   
   
    
    
    
    <title>ACAR AVUKATLIK</title>
    
</head>
{% include "includes/navbar.html" %}


<body>  
      
       
       
        
   

    
      
 
 
 
        
   
    
    

        
       {% block body %}
       
       
       {% endblock body %}
       
       
        
 <script src="{%static 'js/navbar/bootstrap.min.js'%}"></script>
 <script src="{%static 'js/navbar/jquery-3.2.1.min.js'%}"></script>
 <script src="{%static 'js/footer/bootstrap.min.js'%}"></script>
 <script src="{%static 'js/footer/jquery-3.2.1.min.js'%}"></script>


 


 <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
 
    
     
</div>  

{% include "includes/footer.html" %}

       

    
</body>

</html>